<%= form_for (@artist) do |f| %>


<div class="w-section">
    <div class="w-container header">
    	<%= f.submit "Next >", class: "w-button right-header-button" %>
     	<h4 class="header-title"><%= @artist.name %> - Products</h4>
    </div>
</div>
<div class="w-section">
	<div class="w-container red-background">
	  <div class="instruction-text"><%= @artist.name %> put on a great show. Time to sell some merchandise.
	    <br>First let's list the products that you sell. CDs, t-shirts, etc.</div>


	<%= f.fields_for :products do |product| %>
		<div class="w-row">
			<div class="w-col w-col-6 w-col-small-6">
				<%= product.text_field :name, class: "w-input rounded-text-field", placeholder: "product name, e.g. CD" %>
			</div>
			<div class="w-col w-col-6 w-col-small-6">
				<%= product.text_field :price, class: "w-input rounded-text-field", placeholder: "price" %>
			</div>
		</div>
	<% end %>
	</div>
</div>

<% end %>