<div class="w-section">
	<div class="w-container header">
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "w-button right-header-button" %>
		<h4 class="header-title">My artists</h4>
	</div>
</div>

<div class="w-section">
	<div class="w-container red-background">
		<div class="instruction text">
			<ul>
				<% @artists.each do |artist| %>
					<li><%= artist.name %></li>
				<% end %>
		</div>
	</div>
</div>
