<div class="w-section">
    <div class="w-container header"><a class="w-button right-header-button" href="#">Log in</a>
      <h4 class="header-title">MerchCount</h4>
    </div>
</div>
<div class="w-section">
<div class="w-container red-background">
  
  <h1 class="h1-centered">Keep your merch stand organized</h1>
  <h2 class="h2-centered">Keep track of your merch sales, products and cashflow.</h2>
  
  <%= image_tag("merchcount_logo.png", class: "home-logo") %>
  
  <div class="w-form centered-form">
  	<%= form_for (@artist) do |f| %>

  		<%= f.text_field :name, class: "w-input rounded-text-field", placeholder: "Artist name" %>
  		<%= f.fields_for :events do |event| %>
  			<%= event.text_field :location, class: "w-input rounded-text-field", placeholder: "What's the venue for tonight?" %>
  		<% end %>

  		<%= f.submit "Let's get started", class: "w-button centered-button" %>
  	<% end %>
  </div>
 </div>
</div>

