<div class="w-section">
    <div class="w-container header"><%= link_to "Save >", demo_event_saved_url, class: "w-button right-header-button" %>
      <h4 class="header-title">Depot Leuven - End Money</h4>
    </div>
  </div>
  <div class="w-section">
    <div class="w-container red-background">
      <div class="instruction-text">What a sales talent! Before you close the shop, you might count the money in the cash register again.</div>
      <h1 class="content-title">Total: € 0</h1>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-11">€ 100</label>
          <input class="w-input rounded-text-field inline" id="name-11" type="text" name="name-11" data-name="Name 11">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-12">€ 50</label>
          <input class="w-input rounded-text-field inline" id="name-12" type="text" name="name-12" data-name="Name 12">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-13">€ 20</label>
          <input class="w-input rounded-text-field inline" id="name-13" type="text" name="name-13" data-name="Name 13">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-14">€ 10</label>
          <input class="w-input rounded-text-field inline" id="name-14" type="text" name="name-14" data-name="Name 14">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-15">€ 5</label>
          <input class="w-input rounded-text-field inline" id="name-15" type="text" name="name-15" data-name="Name 15">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-16">€ 2</label>
          <input class="w-input rounded-text-field inline" id="name-16" type="text" name="name-16" data-name="Name 16">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-17">€ 1</label>
          <input class="w-input rounded-text-field inline" id="name-17" type="text" name="name-17" data-name="Name 17">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-18">€ 0,50</label>
          <input class="w-input rounded-text-field inline" id="name-18" type="text" name="name-18" data-name="Name 18">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-19">€ 0,20</label>
          <input class="w-input rounded-text-field inline" id="name-19" type="text" name="name-19" data-name="Name 19">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-20">€ 0,10</label>
          <input class="w-input rounded-text-field inline" id="name-20" type="text" name="name-20" data-name="Name 20">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
    </div>
  </div>