<div class="w-section">
    <div class="w-container header">
      <h4 class="header-title">Depot Leuven - saved</h4>
    </div>
  </div>
  <div class="w-section">
    <div class="w-container red-background">
      <div class="instruction-text">Congratulations! You earned € 480 today.
        <br>
        <br>You probably don't want to lose your data.
        <br>Register for an account.</div>
      <div class="w-form centered-form">
        <form id="email-form" name="email-form" data-name="Email Form" data-redirect="/products">
          <input class="w-input rounded-text-field" id="email" type="email" placeholder="your email address" name="email" data-name="email">
          <input class="w-input rounded-text-field" id="password" type="password" placeholder="choose a password" name="password" data-name="password">
          <input class="w-button centered-button" type="submit" value="Sign up" data-wait="Please wait...">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
    </div>
  </div>