<div class="w-section">
    <div class="w-container header"><a class="w-button right-header-button" href="#">Log in</a>
      <h4 class="header-title">MerchCount</h4>
    </div>
  </div>
  <div class="w-section">
    <div class="w-container red-background">
      
      <h1 class="h1-centered">Keep your merch stand organized</h1>
      <h2 class="h2-centered">Keep track of your merch sales, products and cashflow.</h2>
      
      <%= image_tag("merchcount_logo.png", class: "home-logo") %>
      
      <div class="w-form centered-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <input class="w-input rounded-text-field" id="artist-name" type="text" placeholder="Artist name" name="artist-name" data-name="artist name">
          <input class="w-input rounded-text-field" id="venue" type="text" placeholder="What's the venue for tonight?" name="venue" data-name="venue">         
        </form>
        <%= link_to "Let's get started", demo_products_url, class: "w-button centered-button" %>
        </div>
      </div>
    </div>
  </div>