<div class="w-section">
    <div class="w-container header"><%= link_to "Next >", demo_start_money_url, class: "w-button right-header-button" %>
      <h4 class="header-title">Kenji Minogue - Products</h4>
    </div>
  </div>
  <div class="w-section">
    <div class="w-container red-background">
      <div class="instruction-text">Kenji Minogue put on a great show. Time to sell some merchandise.
        <br>First let's list the products that you sell. CDs, t-shirts, etc.</div>
      <div class="w-form centered-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="w-row">
            <div class="w-col w-col-6 w-col-small-6">
              <input class="w-input rounded-text-field" id="product-name" type="text" placeholder="product name, e.g. CD" name="product-name" data-name="product name">
            </div>
            <div class="w-col w-col-6 w-col-small-6">
              <input class="w-input rounded-text-field" id="price" type="text" placeholder="price" name="price" data-name="price">
            </div>
          </div>
          <input class="w-button centered-button" type="submit" value="Create New Product" data-wait="Please wait...">
        </form>
      </div>
      <ul class="w-list-unstyled iphone-list">
        <li class="w-clearfix iphone-list-item first-child">
          <div class="price-tag">€ 20</div>
          <div>vinyl</div>
        </li>
        <li class="w-clearfix iphone-list-item">
          <div class="price-tag">€ 15</div>
          <div>CD</div>
        </li>
        <li class="w-clearfix iphone-list-item last-child">
          <div class="price-tag">€ 20</div>
          <div>t-shirt</div>
        </li>
      </ul>
    </div>
  </div>