<div class="w-section">
    <div class="w-container header"><%= link_to "Next >", demo_end_money_url, class: "w-button right-header-button" %>
      <h4 class="header-title">Depot Leuven - Selling</h4>
    </div>
  </div>
  <div class="w-section">
    <div class="w-container red-background">
      <div class="instruction-text">You're ready to roll. Let the customers come!</div>
      <ul class="w-list-unstyled iphone-list">
        <li class="w-clearfix iphone-list-item first-child">
          <div class="count-block">
          	<%= image_tag "minus_button.png", class: "count-button" %>
          	<%= image_tag "plus_button.png", class: "count-button" %>
            <div class="count-bubble">0</div>
          </div>
          <div>vinyl</div>
        </li>
        <li class="w-clearfix iphone-list-item">
          <div class="count-block">
          	<%= image_tag "minus_button.png", class: "count-button" %>
          	<%= image_tag "plus_button.png", class: "count-button" %>
            <div class="count-bubble">0</div>
          </div>
          <div>CD</div>
        </li>
        <li class="w-clearfix iphone-list-item last-child">
          <div class="count-block">
          	<%= image_tag "minus_button.png", class: "count-button" %>
          	<%= image_tag "plus_button.png", class: "count-button" %>
            <div class="count-bubble">0</div>
          </div>
          <div>t-shirt</div>
        </li>
      </ul>
    </div>
  </div>