<div class="w-section">
    <div class="w-container header"><%= link_to "Next >", demo_selling_url, class: "w-button right-header-button" %>
      <h4 class="header-title">Depot Leuven - Start Money</h4>
    </div>
  </div>
  <div class="w-section">
    <div class="w-container red-background">
      <div class="instruction-text">Awesome, you have some nice merch items over here.
        <br>Now it might be a good idea to count the money in your cash register.</div>
      <h1 class="content-title">Total: € 0</h1>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name">€ 100</label>
          <input class="w-input rounded-text-field inline" id="name" type="text" name="name" data-name="Name">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-2">€ 50</label>
          <input class="w-input rounded-text-field inline" id="name-2" type="text" name="name-2" data-name="Name 2">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-4">€ 20</label>
          <input class="w-input rounded-text-field inline" id="name-4" type="text" name="name-4" data-name="Name 4">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-3">€ 10</label>
          <input class="w-input rounded-text-field inline" id="name-3" type="text" name="name-3" data-name="Name 3">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-10">€ 5</label>
          <input class="w-input rounded-text-field inline" id="name-10" type="text" name="name-10" data-name="Name 10">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-9">€ 2</label>
          <input class="w-input rounded-text-field inline" id="name-9" type="text" name="name-9" data-name="Name 9">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-8">€ 1</label>
          <input class="w-input rounded-text-field inline" id="name-8" type="text" name="name-8" data-name="Name 8">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-7">€ 0,50</label>
          <input class="w-input rounded-text-field inline" id="name-7" type="text" name="name-7" data-name="Name 7">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-6">€ 0,20</label>
          <input class="w-input rounded-text-field inline" id="name-6" type="text" name="name-6" data-name="Name 6">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-form centered-form moneycount">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="inline-form-label" for="name-5">€ 0,10</label>
          <input class="w-input rounded-text-field inline" id="name-5" type="text" name="name-5" data-name="Name 5">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
    </div>
  </div>