
<div class="w-container red-background">
  <div class="instruction-text">You're ready to roll. Let the customers come!</div>
  <ul class="w-list-unstyled iphone-list">
  <% @artist.products.each do |product| %>
    <li class="w-clearfix iphone-list-item" data-product-id="<%= product.id %>" data-price-id="<%= product.price %>">
      <div class="count-block">
        <%= link_to image_tag("minus_button.png", class: "count-button min"), '#' %>
        <%= link_to image_tag("plus_button.png", class: "count-button plus"), '#' %>
        <div class="count-bubble">0</div>
      </div>
      <div><%= product.name %></div>
    </li>
   <% end %> 
  </ul>
</div>
