<%= f.fields_for :products do |product_form| %>
  <div class="w-row">
    <div class="w-col w-col-6 w-col-small-6">
      <%= product_form.text_field :name, class: "w-input rounded-text-field", placeholder: "product name, e.g. CD" %>
    </div>
    <div class="w-col w-col-4 w-col-small-4">
      <%= product_form.text_field :price, class: "w-input rounded-text-field", placeholder: "price" %>
    </div>
    <div class="w-col w-col-2 w-col-small-2">
      <%= product_form.link_to_remove "Remove", data: { confirm: "Are you sure?"} %>
    </div>
  </div>
<% end %>
