<!-- step 1: products -->


<div id="products">
	<div class="w-section">
	    <%= nested_form_for(@artist, remote: true) do |f| %>
      <div class="w-container header">
	    	<%= f.submit "Next >", class: "w-button right-header-button", id: "products-next-button" %>
	     	<h4 class="header-title"><%= @artist.name %> - Products</h4>
	    </div>
	</div>
	<div class="w-section">
		<div class="w-container red-background">
		  <div class="instruction-text"><%= @artist.name %> put on a great show. Time to sell some merchandise.
		    <br>First let's list the products that you sell. CDs, t-shirts, etc.
		</div>
			<div class="w-form centered-form">
        <%= f.fields_for :products %>
				<%= f.link_to_add "Create New Product", :products, class: "w-button centered-button" %>
			<% end %>


			</div>
		</div>
	</div>
</div>

<!-- step 2: count start money -->

<div id="start-money" class="hidden" data-event-id="<%= @event.id %>">
	<div class="w-section">
    <div class="w-container header">
      <%= link_to "Next >", "#", class: "w-button right-header-button", id: "start-money-next-button" %>
      	<h4 class="header-title"><%= @event.location %> - Start Money</h4>
    </div>
  </div>
  <div class="w-section">
    <div class="w-container red-background">
      <div class="instruction-text">
        Awesome, you have some nice merch items over here.
        <br>Now it might be a good idea to count the money in your cash register.
      </div>
      <h1 class="content-title">Total: €
        <span id="totalStartMoney">0</span></h1>
      <form>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="hundreds">€ 100</label>
          <input class="w-input rounded-text-field inline number-input" type="text" name="hundreds" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="fifties">€ 50</label>
          <input class="w-input rounded-text-field inline number-input" type="text" name="fifties" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="twenties">€ 20</label>
          <input class="w-input rounded-text-field inline number-input" type="text" name="twenties" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="tens">€ 10</label>
          <input class="w-input rounded-text-field inline number-input" type="text" name="tens" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="fives">€ 5</label>
          <input class="w-input rounded-text-field inline number-input" type="text" name="fives" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="twos">€ 2</label>
          <input class="w-input rounded-text-field inline number-input" type="text" name="twos" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="ones">€ 1</label>
          <input class="w-input rounded-text-field inline number-input" type="text" name="ones" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="fiftycents">€ 0,50</label>
          <input class="w-input rounded-text-field inline number-input" type="text" name="fiftycents" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="twentycents">€ 0,20</label>
          <input class="w-input rounded-text-field inline number-input" type="text" name="twentycents" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="tencents">€ 0,10</label>
          <input class="w-input rounded-text-field inline number-input" type="text" name="tencents">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- step 3: selling -->

<div id="selling" class="hidden">
  <div class="w-section">
    <div class="w-container header"><%= link_to "Next >", "#", class: "w-button right-header-button", id: "after-sales-next-button" %>
      <h4 class="header-title"><%= @event.location %> - Selling</h4>
    </div>
  </div>
  <div id="selling-products" class="w-section">
    <div class="w-container red-background">
      <div class="instruction-text">You're ready to roll. Let the customers come!</div>
      <ul class="w-list-unstyled iphone-list">
      <% @artist.products.each do |product| %>
        <li class="w-clearfix iphone-list-item">
          <div class="count-block">
            <%= image_tag "minus_button.png", class: "count-button" %>
            <%= image_tag "plus_button.png", class: "count-button" %>
            <div class="count-bubble">0</div>
          </div>
          <div><%= product.name %></div>
        </li>
       <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- step 4: end money -->

<div id="end-money" class="hidden" data-event-id="<%= @event.id %>">
  <div class="w-section">
    <div class="w-container header">
      <%= link_to "Next >", "#", class: "w-button right-header-button", id: "end-money-next-button" %>
        <h4 class="header-title"><%= @event.location %> - End Money</h4>
    </div>
  </div>
  <div class="w-section">
    <div class="w-container red-background">
      <div class="instruction-text">
        What a sales talent! Before you close the shop, you might count the money in the cash register again.
      </div>
      <h1 class="content-title">Total: €
        <span id="totalEndMoney">0</span></h1>
      <form>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="ehundreds">€ 100</label>
          <input class="w-input rounded-text-field inline enumber-input" type="text" name="ehundreds" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="efifties">€ 50</label>
          <input class="w-input rounded-text-field inline enumber-input" type="text" name="efifties" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="etwenties">€ 20</label>
          <input class="w-input rounded-text-field inline enumber-input" type="text" name="etwenties" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="etens">€ 10</label>
          <input class="w-input rounded-text-field inline enumber-input" type="text" name="etens" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="efives">€ 5</label>
          <input class="w-input rounded-text-field inline enumber-input" type="text" name="efives" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="etwos">€ 2</label>
          <input class="w-input rounded-text-field inline enumber-input" type="text" name="etwos" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="eones">€ 1</label>
          <input class="w-input rounded-text-field inline enumber-input" type="text" name="eones" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="efiftycents">€ 0,50</label>
          <input class="w-input rounded-text-field inline enumber-input" type="text" name="efiftycents" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="etwentycents">€ 0,20</label>
          <input class="w-input rounded-text-field inline enumber-input" type="text" name="etwentycents" placeholder="0">
        </div>
        <div class="w-form centered-form moneycount">
          <label class="inline-form-label" for="etencents">€ 0,10</label>
          <input class="w-input rounded-text-field inline enumber-input" type="text" name="etencents">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- step 5: save event and create user -->
<div id="event-saved" class="hidden" data-event-id="<%= @event.id %>">
  <div class="w-section">
      <div class="w-container header">
        <h4 class="header-title"><%= @event.location %> - saved</h4>
      </div>
    </div>
    <div class="w-section">
      <div class="w-container red-background">
        <div class="instruction-text">Congratulations! You earned € <span id="turnover">0</span> today.
          <br>
          <br>
          <% if current_user %>
            We'll do something here.
          <% else %>
            You probably don't want to lose your data.
            <br>Register for an account.</div>
            <div class="w-form centered-form">
              <%= form_for (@user) do |f| %>
                <%= f.email_field :email, class: "w-input rounded-text-field", placeholder: "your email address" %>
                <%= f.password_field :password, class: "w-input rounded-text-field", placeholder: "choose a password", autocomplete: "off" %>
                <%= f.password_field :password_confirmation, class: "w-input rounded-text-field", placeholder: "repeat your password", autocomplete: "off" %>

                <%= f.submit "Sign up", class: "w-button centered-button" %>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>

