.header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  min-height: 50px;
  background-color: #eaca44;
}
.header-title {
  color: white;
  text-align: center;
}
.right-header-button {
  display: inline-block;
  margin: 8px;
  padding-right: 9px;
  padding-left: 9px;
  float: right;
  border-radius: 5px;
  background-color: #d0021b;
  text-align: center;
}
.right-header-button:hover {
  background-color: #ef4d4d;
}
.red-background {
  margin-top: 50px;
  background-color: #ef4d4d;
  min-height: 100vh;
}
.h1-centered {
  color: white;
  font-size: 24px;
  text-align: center;
}
.h2-centered {
  color: white;
  font-size: 16px;
  text-align: center;
}
.home-logo {
  display: block;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.centered-form {
  max-width: 500px;
  margin: 40px auto;
}
.centered-form.moneycount {
  margin-top: 10px;
  margin-bottom: 10px;
}
.rounded-text-field {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 4px;
}
.rounded-text-field.inline {
  display: inline-block;
  width: 80px;
}
.rounded-text-field.inline.normal-textfield {
  width: 200px;
}
.centered-button {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  background-color: #d0021b;
  text-align: center;
}
.centered-button:hover {
  background-color: #eaca44;
}
.instruction-text {
  padding: 25px 15px;
  color: white;
}
.iphone-list-item {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px;
  border: 1px solid #d0021b;
  border-top: 0px;
  color: white;
}
.iphone-list-item:first-child {
  border: 1px solid #d0021b;
  border-radius: 3px 3px 0px 0px;
}
.iphone-list-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.iphone-list {
  margin-top: 10px;
  margin-bottom: 10px;
}
.price-tag {
  float: right;
  font-size: 12px;
}
.content-title {
  padding-left: 15px;
  color: white;
  font-size: 28px;
}
.inline-form-label {
  display: inline-block;
  width: 70px;
  color: white;
}
.count-bubble {
  display: inline;
  padding: 4px 8px;
  float: none;
  border-radius: 3px;
  background-color: #eaca44;
}
.count-block {
  display: inline;
  float: right;
}
.count-button {
  margin-right: 10px;
  margin-left: 0px;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .iphone-list-item {
    font-size: 19px;
  }
  .iphone-list-item.first-child {
    font-size: 18px;
  }
  .iphone-list {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .count-button {
    margin-right: 20px;
  }
}
@media (max-width: 479px) {
  .right-header-button {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .h1-centered {
    font-size: 21px;
  }
  .home-logo {
    width: 100px;
  }
  .centered-form.moneycount {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .rounded-text-field {
    max-width: 90%;
  }
  .instruction-text {
    font-size: 11px;
  }
  .inline-form-label {
    margin-left: 15px;
  }
}

/* Styles after webflow */

.hidden {
  display: none;
}

a {
  color: white;
}